@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: burlywoo;
}

.box {
  width: 100vw;
  height: 90vh;
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 350px;
}

#hoverElement1 {
  cursor: ;
  font-size: 20px;
  color: white;
  font-family: Audiowide
}

#hoverElement2 {
  cursor: ;
}

a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 15px;
  background-color: rgb(23, 99, 213);
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 10px;
}

a:hover {
  background-color: rgb(82, 125, 211);
  color: aqua;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  animation: typing 3s steps(30, end) 1;
  text-decoration: none;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}